<% include ./partials/header.ejs %>
  <div class="w-full min-h-screen bg-zinc-900 text-white py-5">
    <div class="w-full px-4 flex items-center justify-between">
      <img class="w-1/4" src="/images/logo.png" alt="">
      <div class="icons -mt-2 flex gap-5 items-center">
       <a href="/notifications/<%= user.id %>"> <i class="text-[1.4rem] ri-heart-3-line"></i> </a>
       <a href="/messageList"> <i class="text-[1.4rem] ri-messenger-line"></i> </a>      </div>
    </div>
    <div class="story px-3 flex gap-3 overflow-auto mt-5 ">


      <div class="flex flex-col items-center gap-4  rounded-full w-[18vw] h-[18vw]  border-2 border-zinc-700">
        <div class="image w-[10vw] h-[10vw]  rounded-full  flex items-center justify-center mt-[17px] ">
          <i class="add text-7xl font-light  ri-add-line rounded-full bg-zinc-900 text-zinc-600"></i>
          
        </div>
        <button id="selectpic" class="text-blue-500 capitalize opacity-0">Add</button>
      </div> 
         
    <% if(user.stories.length !== 0){ %>
      <a href="/story/<%=user.id %>">  <div class="circle flex-shrink-0 text-center">
        <div
          class="gradient w-[18vw] h-[18vw] bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center">
          <div class="inner w-[90%] h-[90%] rounded-full overflow-hidden">
            <img class="w-full h-full object-cover"
              src="<%=user.picture %>"
              alt="">
          </div>
        </div>
        <h5 class="text-sm text-white" >Your story </h5>
      </div>
    </a>
     <% } %>

        <%allusers.forEach((oneuser)=>{ %>     
          <%if(oneuser.stories.length !== 0){ %>
            <%if(oneuser.username !== user.username){ %>
              <a href="/story/<%=oneuser.id %>">  <div class="circle flex-shrink-0 text-center">
                <div
                  class="gradient w-[18vw] h-[18vw] bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center">
                  <div class="inner w-[90%] h-[90%] rounded-full overflow-hidden">
                    <img class="w-full h-full object-cover"
                      src="<%=oneuser.picture %>"
                      alt="">
                  </div>
                </div>
                <h5 class="text-sm text-white" ><%= oneuser.username %></h5>
              </div>
            </a>
            <% } %>
        <% } %>
        <% }) %>
     
      
    </div>
  <div id="storyform" class="flex items-center  justify-center gap-1"  style="display : none">
    <form   action="/uploadstory" class="w-full py-5 mt-6 flex items-center  justify-center flex-col gap-2 "  enctype="multipart/form-data" method="post">
      <input hidden type="file" name="story">
      <input class="submit w-[80vw] px-2 py-2 bg-blue-500 rounded-md" type="submit" value="Upload story">
    </form>
    <a href="/feed"><button class=" w-[80vw] px-1 py-2 bg-zinc-700 rounded-md ml-11">Cancel</button></a>
  </div>

    <div class="posts parent mb-20">
      <% posts.reverse().forEach(function(post){ %>
        <div class="post mt-10 w-full min-h-[50vh]">
          <div class="title px-4 flex items-center gap-2">
            <div class="w-[9vw] h-[9vw] bg-sky-100 rounded-full overflow-hidden">
              <img src="<%= post.user.picture %>" alt="">
            </div>
            <h4 class="text-sm">
              <%= post.user.username %>
            </h4>
            <h6 class="text-xs opacity-30">
              <%= dater(new Date(post.date)) %>
            </h6>
      
          </div>
          <div class="relative w-full h-96 mt-4 bg-sky-100 overflow-hidden">
            <img data-postid="<%= post._id %>" class="postimg w-full h-full object-cover" src="<%= post.picture %>" alt="">
          </div>
          <div class="options w-full px-4 flex justify-between items-center text-[1.4rem]">
            <div class="flex gap-3 mt-2">
              <%if(post.like.indexOf(user._id) ==-1){ %>
                <i class="heart ri-heart-3-line"></i>
                <% } else{%>
                <i style="color: red;" class="heart ri-heart-3-fill red"></i>
                <% } %>
            <a href="/comment/<%=post.id%>"> <i class=" ri-chat-3-line"></i></a>
              <i class="ri-share-circle-line"></i>
            </div>
            <% if(user.saved.indexOf(post.id) === -1){ %>
              <i data-postid="<%= post.id %>" class="save ri-bookmark-line"></i>
           <% } else{ %>
           <i data-postid="<%= post.id %>" class="save ri-bookmark-fill"></i>
            <% } %>
          </div>
          <h3 class="likevalue px-4 mt-2 text-sm leading-none tracking-tight">
            <%= post.like.length %> likes
          </h3>
          <h2 class="text-white font-light text-sm mt-2">
            <span class="font-semibold pl-4 pr-2">
              <%= post.user.username %>
            </span>
            <%= post.caption %>
          </h2>
        </div>
        <% }) %>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js" integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    
   document.querySelector('.add').addEventListener("click",()=>{
    document.querySelector('#selectpic').click()
   })

    document.querySelector("#selectpic")
    .addEventListener("click", function(){
      document.querySelector("#storyform").style.display='initial';
        document.querySelector("#storyform input").click();
    });

    document.querySelector("#storyform .submit").addEventListener('click',function(){
      document.querySelector("#storyform").style.display='none';
    })

  

 




  
    document.querySelector(".parent")
    .addEventListener("click", function(dets){

      if(dets.target.classList.contains('heart')){
        var heart = dets.target

      heart.parentNode.parentNode.parentNode.querySelector('.postimg').click();
      }


      if(dets.target.classList.contains("postimg")){
        var heartwithborder = dets.target.parentNode.parentNode.querySelector(".heart");
        if(heartwithborder.classList.contains("ri-heart-3-line")){
          heartwithborder.classList.remove("ri-heart-3-line")
          heartwithborder.classList.add("ri-heart-3-fill")
          heartwithborder.style.color = "red";
        }else{
          heartwithborder.classList.remove("ri-heart-3-fill")
          heartwithborder.classList.add("ri-heart-3-line")
          heartwithborder.style.color = "white";
        }

        fetch(`/like/${dets.target.dataset.postid}`)
        .then(raw => raw.json())
        .then(response => {
          // document.querySelector(".likevalue").textContent= response.like.length + "likes"
          dets.target.parentNode.parentNode.querySelector(".likevalue").textContent= response.like.length + "likes"
        })
      }else if(dets.target.classList.contains("save")){
        fetch(`/save/${dets.target.dataset.postid}`)
        // let savebtn = document.querySelector(".save")
        let savebtn = dets.target
        if(savebtn.classList.contains("ri-bookmark-line")){
            savebtn.classList.remove("ri-bookmark-line")
            savebtn.classList.add("ri-bookmark-fill","white")
        }else{
          
          savebtn.classList.remove("ri-bookmark-fill")
            savebtn.classList.add("ri-bookmark-line")

        }
      
 
      }
      
      if(dets.target.classList.contains('postimg')){
         
        var i = document.createElement('i')
        i.classList.add('ri-heart-3-fill','scale-[2]','absolute','translate-y-[-50%]','translate-x-[-50%]','left-[50%]','top-[60%]')
        dets.target.parentNode.appendChild(i)
        console.log( dets.target.parentNode);
        gsap.from(i,{
          scale:.5,
          y:-50,
          ease:Power4,
          duration:.3
        })
        gsap.to(i,{
          opacity:.8,
          y:-50,
          scale:5,
          delay:.2,
          ease:Power4,
          duration:.5,
          color:'red',
          onComplete:function(){
            i.remove()
          }
        })
      }

      


    })
  </script>
  <% include ./partials/footer.ejs %>